/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 0.5s;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/AlegreyaSans-Medium.ttf") format("truetype");

  font-weight: 600;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SalomSans";
  src: url("../fonts/SalomSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SalomSans";
  src: url("../fonts/SalomSans-Light.ttf") format("truetype");
  font-weight: 200;
}
body {
  font-family: "SalomSans";
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.section {
  margin: 40px auto;
  width: 100%;
  height: 100dvh;
}
.container {
  width: 80%;
  margin: auto;
  position: relative;
}
/* End Global Rules */
/* Start Styling home section */
header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}
header .h-content nav img {
  width: 40px;
  display: none;
}
header .h-content {
  min-height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .h-content nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .logo img {
  height: 50px;
}
header nav ul {
  display: flex;
}
header nav ul a {
  padding: 40px 20px;
  display: block;
  transition: 0.3s;
  font-size: 16px;
  color: white;
  text-decoration: none;
  z-index: 2;
}
header nav ul a.active {
  color: #8e7754;
  border-top: 2px solid #8e7754;
}
header nav ul a:hover {
  color: #8e7754;
}

header nav ul {
  display: flex;
}
.section-home {
  margin-top: 0;
  position: relative;
  z-index: 2;
  background-image: url(../images/drew-coffman-1872.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.section-home .blur {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.section .home {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 45%;
  height: 100%;
  display: table;
}
.center-align {
  display: table-cell;
  vertical-align: middle;
}
.home .welcome {
  font-weight: 300;
  font-size: 22px;
}
.home .title {
  font-family: "AlegreyaSans";
  font-size: 70px;
  padding: 16px 0;
}
.home .brief {
  font-weight: 400;
  line-height: 1.6;
  font-size: 20px;
}
.home a {
  display: inline-block;
  min-width: 110px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 40px 10px;
  padding: 12px 20px;
  border-radius: 2px;
}
.home a:hover {
  color: rgb(11, 11, 11);
  background-color: white;
}
.home .learn {
  background-color: #8e7754;
}
.home .contact {
  border: 1px solid white;
  border-radius: 6px;
}

/* End of Styling home section */

/* Start Styling Who are we section */
.section-who {
  margin: 150px auto;
  width: 80%;
  height: 100%;
}
.text-cont {
  float: right;
  width: 45%;
  margin-top: 8%;
}
.clear {
  clear: both;
}
.text-cont h2 {
  margin-bottom: 20px;
}
.text-cont .main-p {
  margin-bottom: 20px;
  font-weight: 200;
  color: rgb(121, 121, 121);
}
.table tbody {
  vertical-align: middle;
}
.who img {
  width: 50%;
}
.table td {
  padding: 5px;
  color: rgb(121, 121, 121);
}
.table .icon {
  display: block;
  width: 40px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 99px;
}
/* End of styling who r we section */
/* Start styling the our location */
.section-loc {
  height: 100%;
}
.our-location {
  margin: 150px auto;
  width: 80%;
}
.text-cont2 {
  float: left;
  width: 45%;
  margin-top: 10%;
}

.our-location img {
  margin-left: 5%;
  width: 50%;
}
.text-cont2 h2 {
  margin-bottom: 20px;
}
.text-cont2 p {
  margin-bottom: 20px;
  font-weight: 200;
  color: rgb(121, 121, 121);
}
/* End of styling the our location */
/* styling baking section */
.section-bak {
  margin: 0 auto 150px auto;
  width: 80%;
  height: auto;
}
.titleba {
  text-align: center;
}
.titleba h2 {
  font-size: 26px;
  font-weight: 600;
  font-family: "AlegreyaSans";
}
.titleba p {
  font-size: 18px;
  font-weight: 200;
  color: rgb(121, 121, 121);
  margin-bottom: 44px;
}
.item {
  display: inline-block;
  width: 31%;
  /* margin: 0 1%; */
  text-align: center;
  margin-inline: 1%;
}
.item img {
  width: 100%;
  margin-bottom: 24px;
}
.item h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.item p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.8;
  color: rgb(121, 121, 121);
}
/*  end of styling items */

/* start styling contact section */
.section-cont {
  width: 80%;
  height: 100%;
}
.section-cont .text-contact {
  width: 40%;
  float: left;
}

.section-cont tbody tr img {
  width: 40px;
  background-color: #8e7754;
  border: 1px solid grey;
  border-radius: 99px;
}
.text-contact h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.text-contact p {
  font-size: 18px;
  font-weight: 200;
  color: rgb(121, 121, 121);
  margin-bottom: 28px;
}

.text-contact table tr td {
  padding: 5px 10px;
  color: rgb(121, 121, 121);
}
.map {
  border: 1px solid #8e7754;
  border-radius: 8px;
  z-index: 5;
  float: right;
  height: 450px;
  background-color: rgb(121, 121, 121);
  width: 50%;
  margin-left: 10%;
}
/* end of styling contact */

/* start styling footer */
.section-footer {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background-color: #403d38;
}
.section-foot {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.text-item {
  width: 24%;
  display: inline-block;
}
.text-item table {
  width: 100%;
}
.text-item:first-child table p {
  padding: 10px 0 10px 0;
  color: rgb(121, 121, 121);
  line-height: 1.6;
}
.text-item:not(:first-child) table tr:not(:last-child) td {
  padding: 10px 0 10px 0;
  color: rgb(121, 121, 121);
  border-bottom: 1px solid rgba(121, 121, 121, 0.25);
}
.text-item:not(:first-child) table tr td {
  padding: 10px 0 10px 0;
  color: rgb(121, 121, 121);
}
.text-item table tr td img {
  width: 20px;
}
.text-item h3 {
  color: white;
  margin-bottom: 20px;
}
.text-item table tr td p {
  font-size: 16px;
}
.text-item:last-child table {
  position: relative;
}
.text-item:last-child table tr td img {
  width: 35px;
}
.text-item:last-child table::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/contact-details-map.png);
  background-size: contain;
  opacity: 0.2;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
/* end of footing section */

/* start the final footer */
.section-final {
  background-color: #353330;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  color: rgb(121, 121, 121);
}
.section-final .main-pic {
  width: 25%;
  margin: 50px;
}
.section-final a img {
  margin: 12px 4px;
  width: 40px;
  background-color: #403d38;
  border-radius: 999px;
  border: 1px solid #403d38;
}

/* end of the final footer */
.btn-top {
  position: fixed;
  z-index: 5;
  top: 90%;
  right: 5%;
}
.btn-top img {
  width: 40px;
  padding: 4px;
  transform: rotate(-90deg);
  background-color: #403d38;
  border-radius: 999px;
  border: 1px solid white;
}
